@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-box[data-animation=fade][data-state=hidden]{opacity:0}[data-tippy-root]{max-width:calc(100vw - 10px)}.tippy-box{position:relative;background-color:rgba(0,0,0,0.8);color:#fff;border-radius:4px;font-size:14px;line-height:1.4;outline:0;transition-property:transform,visibility,opacity}.tippy-box[data-placement^=top]>.tippy-arrow{bottom:0}.tippy-box[data-placement^=top]>.tippy-arrow:before{bottom:-7px;left:0;border-width:8px 8px 0;border-top-color:initial;transform-origin:center top}.tippy-box[data-placement^=bottom]>.tippy-arrow{top:0}.tippy-box[data-placement^=bottom]>.tippy-arrow:before{top:-7px;left:0;border-width:0 8px 8px;border-bottom-color:initial;transform-origin:center bottom}.tippy-box[data-placement^=left]>.tippy-arrow{right:0}.tippy-box[data-placement^=left]>.tippy-arrow:before{border-width:8px 0 8px 8px;border-left-color:initial;right:-7px;transform-origin:center left}.tippy-box[data-placement^=right]>.tippy-arrow{left:0}.tippy-box[data-placement^=right]>.tippy-arrow:before{left:-7px;border-width:8px 8px 8px 0;border-right-color:initial;transform-origin:center right}.tippy-box[data-inertia][data-state=visible]{transition-timing-function:cubic-bezier(.54,1.5,.38,1.11)}.tippy-arrow{width:16px;height:16px;color:#333}.tippy-arrow:before{content:"";position:absolute;border-color:transparent;border-style:solid}.tippy-content{position:relative;padding:5px 9px;z-index:1}
.cc {
	@apply flex items-center justify-center;
}
.dropdown {
	@apply bg-white p-2 shadow-lg border border-gray-300 rounded;
}
.item {
	@apply cursor-pointer px-2 py-2 hover:bg-gray-100 hover:text-blue-500 flex items-center w-full text-sm;
}
.button {
	@apply bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-700;
}
#tooltip {
	@apply border border-gray-300 rounded-lg bg-white z-10 inline-block;
	box-shadow: 0 4px 20px -4px rgba(0,0,0,0.3);
}
#arrow,
#arrow::before {
	background: inherit;
	@apply absolute w-4 h-4;
}

#arrow {
	visibility: hidden;
}

#arrow::before {
	visibility: visible;
	content: '';
	transform: rotate(45deg);
}
#tooltip[data-popper-placement^='top'] > #arrow {
	@apply -bottom-2;
}
#tooltip[data-popper-placement^='top'] > #arrow::before {
	@apply border-b border-r border-gray-300;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
	@apply -top-2;
}
#tooltip[data-popper-placement^='bottom'] > #arrow::before {
	@apply border-t border-l border-gray-300;
}

#tooltip[data-popper-placement^='left'] > #arrow {
	@apply -right-2;
}
#tooltip[data-popper-placement^='left'] > #arrow::before {
	@apply border-t border-r border-gray-300;
}

#tooltip[data-popper-placement^='right'] > #arrow {
	@apply -left-2;
}
#tooltip[data-popper-placement^='right'] > #arrow::before {
	@apply border-b border-l border-gray-300;
}